@model XmlParser.Main.ViewModels.WebOrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form class="align-mid width-50 p-3" method="post" enctype="multipart/form-data" action="/">
    <label for="file" class="form-label">Input Web Order</label>
    <div class="input-group mb-6">
        <input class="form-control" type="file" name="file" accept=".xml">
        <button type="submit" class="btn btn-primary">Process</button>
    </div>
</form>

@if (Model is not null)
{
    <div class="align-mid width-50 p-3">
        <h4>Result</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Customer)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Average)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Average)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Total)
            </dd>
        </dl>
    </div>
}
